restaurants.dtd

<?xml version="1.0" encoding="UTF-8">
<!-- DTD for restaurants -->
<!-- restaurants metadata -->

<!-- restaurants must have at least one instance of children elements: id, name, cuisine, city, open, and close-->
<!ELEMENT restaurants (id,name,cuisine,city,open,close)+>
<!ELEMENT id (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT cuisine (#PCDATA)>
<!ELEMENT city (#PCDATA)>
<!ELEMENT open (#PCDATA)>
<!ELEMENT close (#PCDATA)>